<h2>Noticias</h2>
<table class="table table-striped">
	<thead><tr><th>Estado Actual del Proceso</th> </tr> </thead>
	<tbody><tr><% if @etapa != nil %>
	<% if @etapa.activa == 0 %>
		Proceso Finalizado
	<% end %>
	<% if @etapa.activa == 1 %>
		Creación de Ramos
	<% end %>
	<% if @etapa.activa == 2 %>
		Modificación Ramos
	<% end %>
	<% if @etapa.activa == 3 %>
		Resultados Modificaciones 
	<% end %>
	<% if @etapa.activa == 4 %>
		Postulaciones
	<% end %>
	<% if @etapa.activa == 5 %>
		Entrega de Resultados
	<% end %>
	<% end %>
 <td> </td> </tr>  </tbody></table>


<h2> Postulaciones </h2>
<table class="table table-striped">
	<thead>
<tr><th>Ramo</th>
		<th>Estado</th>
		<th></th>
 	</tr>
 </thead>
 <tbody>
 	<% if @postulaciones != nil %>
 	<% @postulaciones.each do |p| %>
 	<% ramo = Ramo.find_by_id(p.id_ramo) %>
 	<tr>
 		<td><%= ramo.nombre %></td>
 		<td><%= p.status %></td>
 		<td><%= link_to "Eliminar", eliminar_postulacion_path(p.id), :class => "btn btn-success" %></td>

 	</tr>
	<% end %>
	<% else %>
	<tr><td>No hay postulaciones registradas.</td></tr>
	<% end %>
</tbody>
</table>

