<h1>Bienvenido</h1>
<h2> Postulaciones </h2>
<table>
<tr><td>Ramo</td>
		<td>Estado</td>
		<td></td>
 	</tr>
 	<% @postulaciones.each do |p| %>
 	<% ramo = Ramo.find_by_id(p.id_ramo) %>
 	<tr>
 		<td><%= ramo.nombre %></td>
 		<td><%= @postulaciones.status %></td>
 		<td></td>

 	</tr>
<% end %>

</table>

