<table>
	<tr><td>Sigla</td>
			<td>Nombre</td>
			<td>Tipo</td>
			<td></td>
	</tr>
	<% @ramos.each do |r| %>
		<tr><td><%= r.sigla %></td>
				<td><%= r.nombre %></td>
      	<td><% dummy = "|"%>
      			<%if r.tipo_ayudante_cat %>
      				<% dummy = dummy + "cat|"%>
      			<% end %>
      			<%if r.tipo_ayudante_lab %>
      				<% dummy = dummy + "lab|"%>
      			<% end %>
      			<%if r.tipo_ayudante_cor %>
      				<% dummy = dummy + "cor|"%>
      			<% end %>
      			<%= dummy %>
      	</td>
				<td><%= link_to "Postular", nueva_postulacion_path(r.id), :class => "btn btn-success" %></td>
		<tr>
	<% end %>
</table>
