<h1> RAMOS </h1>
<table>
	<tr><td>Sigla</td>
			<td>Nombre</td>
			<td>Tipo</td>
			<td></td>
	</tr>
	<%= @ramos.each fo |r| %>
		<tr><td><%= r.sigla %></td>
				<td><%= r.nombre %></td>
				<%  dummy = "|"
					if r.tipo_ayudante_cat
						dummy += "cat|"
					end
      		if r.tipo_ayudante_lab
      			dummy += "lab|"
      		end
      		if tipo_ayudante_cor
      			dummy += "cor|" 
      		end %>

      	<td><%= dummy %></td>
				<td></td>
		<tr>
	<% end %>
</table>