
			<%= form_tag({:controller => "auth", :action => 'intento_login'}) do %>
			<h3><span class="label label-info">Login</span></h3>
			<div class="input-group">
		  		<span class="input-group-addon">Usuario</span>
		  		<%= text_field_tag :user, nil, :class => "form-control" %></p>
			</div><br>

			<div class="input-group">
		  		<span class="input-group-addon">Contraseña</span>
		  		<%= password_field_tag :pass, nil, :class => "form-control" %></p> 
			</div><br>
			    <%= submit_tag "Entrar" , :class =>"btn btn-primary"  %>
  			<% end %>			
