<table<table class="table table-striped">
	<thead><tr><th>Sigla - Nombre</th>
						<th>Profesor</th>
						<th></th></tr>
	</thead>
	<tbody>
<% @p.each do |pet| %>
<% ramo = Ramo.find_by_id(pet.id_ramo) %>
<tr><td><%= ramo.sigla %> - <%= ramo.nombre %></td>
		<td><%= ramo.profesor %></td>
		<td><%= link_to "Detalles", ver_peticion_path(pet.id) %></td>
</tr>
<% end %>
</tbody>
</table>